* {
  color: #333;
  text-decoration: none;
}

/* recommendations page */
.container p {
  display: block;
}
.container h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.recoms_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}

.recommendation {
  display: inline-block;
  background: #2e51a2;
  width: 300px;
  height: 300px;
}

.recommendation a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
.recommendation img{
  width: 167px;
}